body {
  margin: 0;
  /*font-family: 'Metric', Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

code {
  /*font-family: 'Metric', Arial, sans-serif;*/
  font-family: monospace;
}
